@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Restaurant Reviews</h1>
<h3>Options</h3>
<li>
    <ul><a href="/Reviews">See all reviews</a></ul>
    <ul><a href="/Create">Add a review</a></ul>
</li>
